{
    "openapi": "3.0.0",
    "info": {
        "title": "Swyftpay Developer API Specification",
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "https://api.swervpay.co/v1"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/banks": {
            "get": {
                "tags": [
                    "banks"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TypesBank"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "banks"
            }
        },
        "/business": {
            "get": {
                "tags": [
                    "customer"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBusiness"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "getBusiness"
            }
        },
        "/cards": {
            "get": {
                "tags": [
                    "cards"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to return.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return.",
                        "required": false,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TypesBusinessVirtualCard"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "cardList"
            }
        },
        "/cards/{id}": {
            "post": {
                "tags": [
                    "cards"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBusinessVirtualCard"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "getCard"
            }
        },
        "/cards/{id}/freeze": {
            "post": {
                "tags": [
                    "card.freeze"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "freezeCard"
            }
        },
        "/cards/{id}/fund": {
            "post": {
                "tags": [
                    "customer.blacklist"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenapiFundCardRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "fundCard"
            }
        },
        "/cards/{id}/terminate": {
            "post": {
                "tags": [
                    "card.terminate"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "terminateCard"
            }
        },
        "/cards/{id}/withdraw": {
            "post": {
                "tags": [
                    "card.withdrawal"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenapiFundCardRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "cardWithdrawal"
            }
        },
        "/customers": {
            "get": {
                "tags": [
                    "customers"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to return.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return.",
                        "required": false,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TypesBusinessCustomer"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "customerList"
            },
            "post": {
                "tags": [
                    "customers"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerCreateInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBusinessCustomer"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "newCustomer"
            }
        },
        "/customers/{id}": {
            "get": {
                "tags": [
                    "customer"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBusinessCustomer"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "getCustomer"
            }
        },
        "/customers/{id}/blacklist": {
            "post": {
                "tags": [
                    "customer.blacklist"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "customerBlacklist"
            }
        },
        "/customers/{id}/kyc": {
            "post": {
                "tags": [
                    "customer.kyc"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OpenapiCustomerKycRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "customerKyc"
            }
        },
        "/fx/exchange": {
            "post": {
                "tags": [
                    "fx.exchange"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TypesCreateExchangeRateInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "createExchange"
            }
        },
        "/fx/rate": {
            "post": {
                "tags": [
                    "fx.rate"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TypesCreateExchangeRateInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "getExchangeRate"
            }
        },
        "/payouts": {
            "post": {
                "tags": [
                    "payouts"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TypesCreatePayoutInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "createPayout"
            }
        },
        "/payouts/{id}": {
            "get": {
                "tags": [
                    "payout"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBusinessTransaction"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "getPayout"
            }
        },
        "/resolve-account-number": {
            "post": {
                "tags": [
                    "bank.account"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TypesBankAccountInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBankAccountResolver"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "resolveAccount"
            }
        },
        "/transactions": {
            "get": {
                "tags": [
                    "transactions"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to return.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return.",
                        "required": false,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TypesBusinessTransaction"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "transactionList"
            }
        },
        "/transactions/{id}": {
            "get": {
                "tags": [
                    "transactions"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "307": {
                        "description": "Temporary Redirect",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TypesBusinessTransaction"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "getTransaction"
            }
        },
        "/wallets": {
            "get": {
                "tags": [
                    "transactions"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The page to return.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to return.",
                        "required": false,
                        "schema": {
                            "maximum": 100,
                            "minimum": 1,
                            "type": "integer",
                            "default": 30
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TypesBusinessWallet"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "walletList"
            }
        },
        "/webhook/log/{id}/retry": {
            "post": {
                "tags": [
                    "webhook"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "retryWebhookLog"
            }
        },
        "/webhook/{id}/test": {
            "post": {
                "tags": [
                    "webhook"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseSuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsererrorError"
                                }
                            }
                        }
                    }
                },
                "operationId": "testWebhook"
            }
        }
    },
    "components": {
        "schemas": {
            "CustomerCreateInput": {
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "firstname": {
                        "type": "string"
                    },
                    "lastname": {
                        "type": "string"
                    },
                    "middlename": {
                        "type": "string"
                    }
                }
            },
            "OpenapiCustomerKycRequest": {
                "type": "object",
                "properties": {
                    "document": {
                        "$ref": "#/components/schemas/TypesTier2KycInput"
                    },
                    "information": {
                        "$ref": "#/components/schemas/TypesTier1KycInput"
                    },
                    "tier": {
                        "type": "string"
                    }
                }
            },
            "OpenapiFundCardRequest": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "integer"
                    }
                }
            },
            "ResponseSuccessResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                }
            },
            "TypesBank": {
                "type": "object",
                "properties": {
                    "bank_code": {
                        "type": "string"
                    },
                    "bank_name": {
                        "type": "string"
                    }
                }
            },
            "TypesBankAccountInput": {
                "type": "object",
                "properties": {
                    "account_number": {
                        "type": "string"
                    },
                    "bank_code": {
                        "type": "string"
                    }
                }
            },
            "TypesBankAccountResolver": {
                "type": "object",
                "properties": {
                    "account_name": {
                        "type": "string"
                    },
                    "account_number": {
                        "type": "string"
                    },
                    "bank_code": {
                        "type": "string"
                    },
                    "bank_name": {
                        "type": "string"
                    }
                }
            },
            "TypesBusiness": {
                "type": "object",
                "properties": {
                    "address": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "email": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "logo": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TypesBusinessCustomer": {
                "type": "object",
                "properties": {
                    "business_id": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "email": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "is_blacklisted": {
                        "type": "boolean"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "middle_name": {
                        "type": "string"
                    },
                    "phone_number": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TypesBusinessTransaction": {
                "type": "object",
                "properties": {
                    "account_name": {
                        "type": "string"
                    },
                    "account_number": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "asset_id": {
                        "type": "string"
                    },
                    "bank_code": {
                        "type": "string"
                    },
                    "bank_name": {
                        "type": "string"
                    },
                    "business_id": {
                        "type": "string"
                    },
                    "category": {
                        "type": "string"
                    },
                    "charges": {
                        "type": "number"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "customer_id": {
                        "type": "string"
                    },
                    "detail": {
                        "type": "string"
                    },
                    "fiat_rate": {
                        "type": "number"
                    },
                    "id": {
                        "type": "string"
                    },
                    "reference": {
                        "type": "string"
                    },
                    "report": {
                        "type": "boolean"
                    },
                    "report_message": {
                        "type": "string"
                    },
                    "session_id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "sub_wallet_id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "wallet_id": {
                        "type": "string"
                    }
                }
            },
            "TypesBusinessVirtualCard": {
                "type": "object",
                "properties": {
                    "address_city": {
                        "type": "string"
                    },
                    "address_country": {
                        "type": "string"
                    },
                    "address_postal_code": {
                        "type": "string"
                    },
                    "address_state": {
                        "type": "string"
                    },
                    "address_street": {
                        "type": "string"
                    },
                    "balance": {
                        "type": "number"
                    },
                    "business_id": {
                        "type": "string"
                    },
                    "card_number": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "customer_id": {
                        "type": "string"
                    },
                    "cvv": {
                        "type": "string"
                    },
                    "expiry": {
                        "type": "string"
                    },
                    "freeze": {
                        "type": "boolean"
                    },
                    "id": {
                        "type": "string"
                    },
                    "masked_pan": {
                        "type": "string"
                    },
                    "name_on_card": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "total_funded": {
                        "type": "number"
                    },
                    "type": {
                        "type": "string"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TypesBusinessWallet": {
                "type": "object",
                "properties": {
                    "account_name": {
                        "type": "string"
                    },
                    "account_number": {
                        "type": "string"
                    },
                    "account_type": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "asset_id": {
                        "type": "string"
                    },
                    "balance": {
                        "type": "number"
                    },
                    "bank_address": {
                        "type": "string"
                    },
                    "bank_code": {
                        "type": "string"
                    },
                    "bank_name": {
                        "type": "string"
                    },
                    "business_id": {
                        "type": "string"
                    },
                    "can_received": {
                        "type": "boolean"
                    },
                    "can_send": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "customer_id": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string"
                    },
                    "is_blocked": {
                        "type": "boolean"
                    },
                    "label": {
                        "type": "string"
                    },
                    "parent_wallet_id": {
                        "type": "string"
                    },
                    "pending_balance": {
                        "type": "number"
                    },
                    "reference": {
                        "type": "string"
                    },
                    "routing_number": {
                        "type": "string"
                    },
                    "total_received": {
                        "type": "number"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TypesCreateExchangeRateInput": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number"
                    },
                    "from_currency": {
                        "type": "string"
                    },
                    "to_currency": {
                        "type": "string"
                    }
                }
            },
            "TypesCreatePayoutInput": {
                "type": "object",
                "properties": {
                    "account_number": {
                        "type": "string"
                    },
                    "amount": {
                        "type": "number"
                    },
                    "bank_code": {
                        "type": "string"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "narration": {
                        "type": "string"
                    },
                    "reference": {
                        "type": "string"
                    }
                }
            },
            "TypesTier1KycInput": {
                "type": "object",
                "properties": {
                    "address": {
                        "type": "string"
                    },
                    "bvn": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "postal_code": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    }
                }
            },
            "TypesTier2KycInput": {
                "type": "object",
                "properties": {
                    "document": {
                        "type": "string"
                    },
                    "document_number": {
                        "type": "string"
                    },
                    "document_type": {
                        "type": "string"
                    },
                    "passport": {
                        "type": "string"
                    }
                }
            },
            "UsererrorError": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "values": {
                        "type": "object",
                        "additionalProperties": {}
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}